#profile: 01-tbc-tr

[global]
use_syslog 0
verbose 1
logging_level 7
ts2phc.pulsewidth 500000000
leapfile ptp/leap
domainNumber 24
uds_address /var/run/ptp4l.1.socket
message_tag [ts2phc.1.config:{level}]
[eno8703]
ts2phc.extts_correction 0
ts2phc.master 0
ts2phc.channel 0
ts2phc.pin_index 1
[enp108s0f0]
ts2phc.extts_polarity rising
ts2phc.extts_correction 0
ts2phc.master 0
ts2phc.channel 0
ts2phc.pin_index 1
[enp110s0f0]
ts2phc.extts_polarity rising
ts2phc.extts_correction 0
ts2phc.master 0
ts2phc.channel 0
ts2phc.pin_index 1
