#profile: 01-tbc-tr

[global]
use_syslog 0
verbose 1
logging_level 7
ts2phc.pulsewidth 100000000
leapfile ptp/leap
domainNumber 24
uds_address /var/run/ptp4l.1.socket
message_tag [ts2phc.1.config:{level}]
[ens4f0]
ts2phc.extts_polarity rising
ts2phc.extts_correction -10
ts2phc.master 0
ts2phc.pin_index 1
[ens5f0]
ts2phc.extts_polarity rising
ts2phc.extts_correction -10
ts2phc.master 0
ts2phc.pin_index 1
[ens8f0]
ts2phc.extts_polarity rising
ts2phc.extts_correction -10
ts2phc.master 0
ts2phc.pin_index 1
